@media (min-width: 1365px) {
    .burger {
        box-shadow: none;
        z-index: 1;
        
        .burger__button:first-child {
            display: none;
        }

            
    }

    .main__header,
    .divider,
    .info__readMore {
        display: none;
    }

    .navigation__list {
        flex-wrap: wrap;
    }

    .feedback__close,
    .call__close{
        position: absolute;
        transform: translateX(-100px);
    }
}

@media (max-width: 1365px) {
    .main__operations {
        display: none;
    }
}

@media (max-width: 768px) {
    .aside__call,
    .aside__feedback{
        overflow-y: auto;
    }

    .header__logo:before,
    .action:nth-child(-n+3) {
        display: none;
    }

    .main__footer {
        flex-direction: column;
    }
}
@media (max-height: 768px){
    .call,
    .feedback{
        overflow-y: scroll;
    }
}