/*!******************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./fonts/fontsStylesheet.css ***!
  \******************************************************************************/
@font-face {
    font-family: 'TT Lakes';
    src: url(../dbae4643cf85b9f28f79.eot);
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url(../dbae4643cf85b9f28f79.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Italic.woff) format('woff'),
        url(../26ca81ec5197d586843b.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../b83e16f3b0522f74b45e.eot);
    src: local('TT Lakes Condensed ExtraLight'), local('TTLakesCondensed-ExtraLight'),
        url(../b83e16f3b0522f74b45e.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-ExtraLight.woff) format('woff'),
        url(../85c852880b91bcad78d0.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../ae0dd2e4a1c288c7b101.eot);
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url(../ae0dd2e4a1c288c7b101.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Regular.woff) format('woff'),
        url(../ddef00724a0c3ba89477.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../a2753be16c1ccb510878.eot);
    src: local('TT Lakes Compressed Thin Italic'), local('TTLakesCompressed-ThinItalic'),
        url(../a2753be16c1ccb510878.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-ThinItalic.woff) format('woff'),
        url(../72f6b3a65f66e6191f35.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../27608baa25494ac365ce.eot);
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url(../27608baa25494ac365ce.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Medium.woff) format('woff'),
        url(../cc2fcd1356876b400e2f.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../f6d1cf29327ae663e24c.eot);
    src: local('TT Lakes Compressed ExtraBold Italic'), local('TTLakesCompressed-ExtraBoldItalic'),
        url(../f6d1cf29327ae663e24c.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-ExtraBoldItalic.woff) format('woff'),
        url(../bd7a6af41fe7ff347e70.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../b8dc787734e2cd887a0a.eot);
    src: local('TT Lakes ExtraLight Italic'), local('TTLakes-ExtraLightItalic'),
        url(../b8dc787734e2cd887a0a.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-ExtraLightItalic.woff) format('woff'),
        url(../c094599d71f523a88987.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../4f8c6699c2edc699335c.eot);
    src: local('TT Lakes Light Italic'), local('TTLakes-LightItalic'),
        url(../4f8c6699c2edc699335c.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-LightItalic.woff) format('woff'),
        url(../314a2a469e71c92175d9.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../307b48c4ef15903aca68.eot);
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url(../307b48c4ef15903aca68.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Thin.woff) format('woff'),
        url(../19611f3ea02a1cb49211.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../9e8f23e26ddfced42c07.eot);
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url(../9e8f23e26ddfced42c07.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-DemiBoldItalic.woff) format('woff'),
        url(../93f95d4f13de5696f822.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../9f3f5155323bceb00382.eot);
    src: local('TT Lakes Condensed Black'), local('TTLakesCondensed-Black'),
        url(../9f3f5155323bceb00382.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Black.woff) format('woff'),
        url(../e1830be6bf6b298e78ac.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../51d3bf54b26009c79807.eot);
    src: local('TT Lakes Condensed Light Italic'), local('TTLakesCondensed-LightItalic'),
        url(../51d3bf54b26009c79807.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-LightItalic.woff) format('woff'),
        url(../cb41fcb5b0c6518841ba.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../4bbb76203acac85035a1.eot);
    src: local('TT Lakes Condensed DemiBold'), local('TTLakesCondensed-DemiBold'),
        url(../4bbb76203acac85035a1.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-DemiBold.woff) format('woff'),
        url(../4d66945df71ff8df426d.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../d1952e9cc955ac861903.eot);
    src: local('TT Lakes Compressed ExtraBold'), local('TTLakesCompressed-ExtraBold'),
        url(../d1952e9cc955ac861903.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-ExtraBold.woff) format('woff'),
        url(../cb8f4c1e09845d5ada19.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../7a80c43f5cd389bcc61e.eot);
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url(../7a80c43f5cd389bcc61e.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-ExtraBoldItalic.woff) format('woff'),
        url(../934db0792162323c8803.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../ef8890ff13442b955907.eot);
    src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
        url(../ef8890ff13442b955907.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-ExtraLight.woff) format('woff'),
        url(../4822413996f5a46aae5e.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../b6ea0c18cf5c5d1b72c2.eot);
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url(../b6ea0c18cf5c5d1b72c2.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Bold.woff) format('woff'),
        url(../965d8cc9546f8a448eeb.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../501770cc1a64ee6dd3bc.eot);
    src: local('TT Lakes Condensed Thin Italic'), local('TTLakesCondensed-ThinItalic'),
        url(../501770cc1a64ee6dd3bc.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-ThinItalic.woff) format('woff'),
        url(../f4e12c73c921b3542179.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../3c0a7e5873a87240e5fd.eot);
    src: local('TT Lakes Condensed ExtraBold Italic'), local('TTLakesCondensed-ExtraBoldItalic'),
        url(../3c0a7e5873a87240e5fd.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-ExtraBoldItalic.woff) format('woff'),
        url(../de93e0117cd0054d7c77.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../d670f34f536e375c9d65.eot);
    src: local('TT Lakes Compressed Medium'), local('TTLakesCompressed-Medium'),
        url(../d670f34f536e375c9d65.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Medium.woff) format('woff'),
        url(../81a61d950a4e1890cecd.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../93880c29171e5b67b78e.eot);
    src: local('TT Lakes Condensed Thin'), local('TTLakesCondensed-Thin'),
        url(../93880c29171e5b67b78e.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Thin.woff) format('woff'),
        url(../93f8c11cc5e30ec9b925.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../e90282251ce56f126ec5.eot);
    src: local('TT Lakes Compressed Italic'), local('TTLakesCompressed-Italic'),
        url(../e90282251ce56f126ec5.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Italic.woff) format('woff'),
        url(../df428f6d9dd75656bbe1.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../fdf748b8a5676bfd520e.eot);
    src: local('TT Lakes Compressed Light'), local('TTLakesCompressed-Light'),
        url(../fdf748b8a5676bfd520e.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Light.woff) format('woff'),
        url(../231f8db456420b43c674.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../1f9a23a6c417db7d5d19.eot);
    src: local('TT Lakes Compressed Light Italic'), local('TTLakesCompressed-LightItalic'),
        url(../1f9a23a6c417db7d5d19.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-LightItalic.woff) format('woff'),
        url(../f837f6bc61e5f0320aad.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../0740782db955471332e3.eot);
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url(../0740782db955471332e3.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Regular.woff) format('woff'),
        url(../1965aa75b1a0c5d96534.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../ef5b35abe2a890674a64.eot);
    src: local('TT Lakes Condensed Light'), local('TTLakesCondensed-Light'),
        url(../ef5b35abe2a890674a64.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Light.woff) format('woff'),
        url(../cb903556763705057dc7.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../c241ebcfcbd5a82503ea.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(../c241ebcfcbd5a82503ea.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Bold.woff) format('woff'),
        url(../8747246cd48097156cbb.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../7c23653303b7cc5c6dd3.eot);
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url(../7c23653303b7cc5c6dd3.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-DemiBold.woff) format('woff'),
        url(../eb5504be3219a95bcfc3.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../033465480fc96852efcf.eot);
    src: local('TT Lakes Compressed Thin'), local('TTLakesCompressed-Thin'),
        url(../033465480fc96852efcf.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Thin.woff) format('woff'),
        url(../dbaa31624db9a369750a.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../98d6a5bf712f1ef0d0cc.eot);
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url(../98d6a5bf712f1ef0d0cc.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Black.woff) format('woff'),
        url(../4101b838e02fe5fcd060.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../e0880e8f1e6c826b2991.eot);
    src: local('TT Lakes Medium Italic'), local('TTLakes-MediumItalic'),
        url(../e0880e8f1e6c826b2991.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-MediumItalic.woff) format('woff'),
        url(../0a353e8b1ad71db46830.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../b2f98c9a65ea4487fef9.eot);
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url(../b2f98c9a65ea4487fef9.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-ExtraBold.woff) format('woff'),
        url(../828e3260f901aaefe23c.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../a78a961d6710555a3d36.eot);
    src: local('TT Lakes Condensed ExtraLight Italic'), local('TTLakesCondensed-ExtraLightItalic'),
        url(../a78a961d6710555a3d36.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-ExtraLightItalic.woff) format('woff'),
        url(../98807dfed4a5c50d14b0.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../018ab39c10b6a4a7146a.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(../018ab39c10b6a4a7146a.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Medium.woff) format('woff'),
        url(../1db5f8df31efefe6bea1.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../1691521f0934907df346.eot);
    src: local('TT Lakes Condensed DemiBold Italic'), local('TTLakesCondensed-DemiBoldItalic'),
        url(../1691521f0934907df346.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-DemiBoldItalic.woff) format('woff'),
        url(../f1cec651220c80b1de34.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../e3337444a41c9db14a65.eot);
    src: local('TT Lakes Compressed Bold Italic'), local('TTLakesCompressed-BoldItalic'),
        url(../e3337444a41c9db14a65.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-BoldItalic.woff) format('woff'),
        url(../5ecc23cc25714aaa168d.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../8c9066ac4ab88b046fe2.eot);
    src: local('TT Lakes Compressed ExtraLight Italic'), local('TTLakesCompressed-ExtraLightItalic'),
        url(../8c9066ac4ab88b046fe2.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-ExtraLightItalic.woff) format('woff'),
        url(../ad5fe92ad01281cefc18.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../c794c866fb368b7f82aa.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(../c794c866fb368b7f82aa.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Regular.woff) format('woff'),
        url(../a0bf8bd54132d614be5d.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../802bf013be2fa65d6b84.eot);
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url(../802bf013be2fa65d6b84.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-BoldItalic.woff) format('woff'),
        url(../34b4a71442b0e70a6e54.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../58131c196b40ef85da8c.eot);
    src: local('TT Lakes Condensed Medium Italic'), local('TTLakesCondensed-MediumItalic'),
        url(../58131c196b40ef85da8c.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-MediumItalic.woff) format('woff'),
        url(../f1980614c9c28957d39b.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../be494fa7d997d8eb4a88.eot);
    src: local('TT Lakes Condensed Italic'), local('TTLakesCondensed-Italic'),
        url(../be494fa7d997d8eb4a88.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-Italic.woff) format('woff'),
        url(../f13144f4a98d6974ce90.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../aafd911df7f299be4637.eot);
    src: local('TT Lakes Thin Italic'), local('TTLakes-ThinItalic'),
        url(../aafd911df7f299be4637.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-ThinItalic.woff) format('woff'),
        url(../0ed40d2f7083454925c2.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../f07582d62923facaf938.eot);
    src: local('TT Lakes Compressed DemiBold'), local('TTLakesCompressed-DemiBold'),
        url(../f07582d62923facaf938.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-DemiBold.woff) format('woff'),
        url(../647796dbfa968ad0ca34.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../28ea72af4983098873d6.eot);
    src: local('TT Lakes Black Italic'), local('TTLakes-BlackItalic'),
        url(../28ea72af4983098873d6.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-BlackItalic.woff) format('woff'),
        url(../2bfcd8fd187c21757df4.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../222ba6a6c8895ea3c8d5.eot);
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Bold'),
        url(../222ba6a6c8895ea3c8d5.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Bold.woff) format('woff'),
        url(../81ac548a2e2a897fe285.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../af8aa484d83a6d34eda7.eot);
    src: local('TT Lakes Condensed Black Italic'), local('TTLakesCondensed-BlackItalic'),
        url(../af8aa484d83a6d34eda7.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-BlackItalic.woff) format('woff'),
        url(../452bbbaa37e7140460c9.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../9dfa61dbb6398f3c7767.eot);
    src: local('TT Lakes Compressed Medium Italic'), local('TTLakesCompressed-MediumItalic'),
        url(../9dfa61dbb6398f3c7767.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-MediumItalic.woff) format('woff'),
        url(../ef1ab00e9682fc52e9b8.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(../9906fbaae2c9a130e56c.eot);
    src: local('TT Lakes Condensed Bold Italic'), local('TTLakesCondensed-BoldItalic'),
        url(../9906fbaae2c9a130e56c.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCondensed-BoldItalic.woff) format('woff'),
        url(../d9799701e9297fa5c938.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../2ab37836274a9db3ca88.eot);
    src: local('TT Lakes Compressed ExtraLight'), local('TTLakesCompressed-ExtraLight'),
        url(../2ab37836274a9db3ca88.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-ExtraLight.woff) format('woff'),
        url(../1dd0fe0af0a1cf22923d.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../6d8e4638d93c1858c8ac.eot);
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url(../6d8e4638d93c1858c8ac.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-ExtraBold.woff) format('woff'),
        url(../ac29aac0d1ad5c15ed57.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../e4eecb607bee55dbf9b2.eot);
    src: local('TT Lakes Compressed DemiBold Italic'), local('TTLakesCompressed-DemiBoldItalic'),
        url(../e4eecb607bee55dbf9b2.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-DemiBoldItalic.woff) format('woff'),
        url(../469a07bb675573795223.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../baba9df67f2386588ef6.eot);
    src: local('TT Lakes Compressed Black Italic'), local('TTLakesCompressed-BlackItalic'),
        url(../baba9df67f2386588ef6.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-BlackItalic.woff) format('woff'),
        url(../746ea347ccc57e373999.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../df31e7e6cfca7d69ff04.eot);
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url(../df31e7e6cfca7d69ff04.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakes-Light.woff) format('woff'),
        url(../2a626102d317f419cd0a.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(../30e2beee74619a95f7ce.eot);
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url(../30e2beee74619a95f7ce.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fonts/TTLakesCompressed-Black.woff) format('woff'),
        url(../b74a40a23f7a17ce497f.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}


/*!************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/style.scss ***!
  \************************************************************************************************************/
.main__header {
  display: flex;
  align-items: center;
  padding: 18px 16px; }
  .main__header .header__logo {
    margin: 0 16px;
    display: flex;
    align-items: center; }
  .main__header .header__logo:before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px; }
  .main__header .header__button,
  .main__header .action__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .main__header .header__actions {
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto; }
    .main__header .header__actions .action:not(.action:last-child) {
      margin-right: 16px; }
    .main__header .header__actions .action:nth-child(4) {
      display: flex;
      align-items: center; }
    .main__header .header__actions .action:nth-child(4):before {
      content: "";
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 1px;
      margin-right: 20px; }

.main__operations {
  padding: 0;
  margin-left: auto;
  margin-right: 32px;
  display: flex;
  list-style-type: none;
  gap: 32px; }
  .main__operations .operation__button {
    display: flex;
    padding: 0;
    gap: 8px;
    align-items: center;
    border: none;
    background-color: #F8F8F8; }

.main__title {
  display: flex;
  align-items: center; }
  .main__title .title__header {
    display: flex;
    align-items: center;
    white-space: nowrap; }
  .main__title .title__header:before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 1em;
    margin-right: 30px; }

.navigation__list {
  margin-left: 16px;
  padding: 0;
  font-size: 16px;
  display: flex;
  list-style-type: none;
  overflow-x: auto; }
  .navigation__list .list__elem {
    padding: 8px 16px;
    padding-right: 9px; }
    .navigation__list .list__elem .elem__link {
      color: #7E7E82;
      text-decoration: none;
      white-space: nowrap; }
    .navigation__list .list__elem .elem__link:focus {
      box-shadow: none; }
  .navigation__list .list__elem--chosen {
    border: 2px solid #41F6D7;
    border-radius: 6px;
    background-color: #FFFFFF; }

.brands {
  padding-top: 50px; }
  .brands .brands__title::before {
    content: "";
    height: 1px;
    background-color: #41F6D7; }
  .brands .brands__title {
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    color: #7E7E82;
    margin: 0; }
    .brands .brands__title .title__text {
      margin: 16px;
      margin-left: 24px; }
  .brands .brands__main .swiper {
    padding: 16px; }
    .brands .brands__main .swiper .swiper-slide {
      width: auto; }
    .brands .brands__main .swiper .swiper-pagination {
      transform: translateY(12px); }
    .brands .brands__main .swiper .swiper-pagination-bullet {
      background-color: #7E7E82; }
  .brands .brands__main .brands__list {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 224px));
    list-style-type: none;
    column-gap: 32px;
    row-gap: 24px;
    overflow-y: auto;
    max-height: 768px;
    transition: max-height 0.5s; }
  .brands .brands__main .brands__list--short {
    overflow-y: hidden;
    max-height: 150px; }
  .brands .brands__main .block__button {
    width: 224px;
    height: 72px;
    padding: 16px;
    max-width: 244px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF; }
  .brands .brands__main .list__read-more {
    margin: 24px;
    margin-bottom: 0;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px; }
    .brands .brands__main .list__read-more .read-more__icon {
      transition: transform 300ms ease; }
    .brands .brands__main .list__read-more .read-more__icon--rotate {
      transition: transform 300ms ease;
      transform: rotate(180deg); }

.burger {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 320px;
  min-height: 1024px;
  z-index: 3;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3); }
  .burger a:active,
  .burger button:active {
    transform: translateY(1px); }
  .burger .nav__link:focus::before {
    position: absolute;
    left: -1px;
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 1em;
    transform: translateY(-5px); }
  .burger .burger__header {
    display: flex;
    align-items: center;
    padding: 24px; }
    .burger .burger__header .burger__button:first-child {
      margin-right: 16px; }
    .burger .burger__header .burger__button:last-child {
      margin-left: auto; }
  .burger .burger__button,
  .burger .actions__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    Width: 40px;
    height: 40px;
    border-radius: 50%; }
  .burger .nav__list {
    padding: 0;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 32px; }
  .burger .nav__link {
    text-decoration: none;
    color: black;
    font-weight: 600; }
  .burger .nav__link:focus {
    color: #7E7E82; }
  .burger .burger__actions {
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 16px; }
  .burger .burger__footer {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    margin-top: auto; }
    .burger .burger__footer .email,
    .burger .burger__footer .number {
      text-decoration: none;
      color: black; }
    .burger .burger__footer .email {
      font-weight: 600;
      margin-bottom: 12px; }
    .burger .burger__footer .number {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 40px; }
    .burger .burger__footer .burger__lang {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: 7px; }
    .burger .burger__footer .lang__name {
      font-weight: 600;
      transition: color 5s ease-in; }
    .burger .burger__footer .lang__radio {
      display: none; }
    .burger .burger__footer .lang__radio:checked ~ .lang__text {
      position: relative;
      top: 2px;
      color: #7E7E82; }

.burger--hidden {
  left: -150%;
  box-shadow: none; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 3;
  opacity: 0.9; }

.overlay--hidden {
  display: none;
  z-index: -1; }

.main {
  background-color: #F8F8F8; }
  .main a:active,
  .main button:active {
    transform: translateY(1px); }
  .main .divider {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #41F6D7; }

.main--positioned {
  margin-left: 320px; }

.main__about {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding-left: 16px; }
  .main__about .about__info {
    margin-right: 36px;
    margin-bottom: 16px;
    max-width: 490px; }
    .main__about .about__info .info__text {
      max-height: 300px;
      transition: max-height 0.5s; }
    .main__about .about__info .info__text--short {
      max-height: 130px;
      overflow: hidden; }
    .main__about .about__info .info__readMore {
      padding: 8px;
      border: none;
      background-color: #F8F8F8; }
      .main__about .about__info .info__readMore .readMore__icon {
        margin-right: 16px;
        transition: transform 300ms ease; }
      .main__about .about__info .info__readMore .readMore__icon--rotate {
        transform: rotate(180deg); }

@media (min-width: 1365px) {
  .burger {
    box-shadow: none;
    z-index: 1; }
    .burger .burger__button:first-child {
      display: none; }
  .main__header,
  .divider,
  .info__readMore {
    display: none; }
  .navigation__list {
    flex-wrap: wrap; }
  .feedback__close,
  .call__close {
    position: absolute;
    transform: translateX(-100px); } }

@media (max-width: 1365px) {
  .main__operations {
    display: none; } }

@media (max-width: 768px) {
  .header__logo:before,
  .action:nth-child(-n+3) {
    display: none; }
  .main__footer {
    flex-direction: column; } }

.technique {
  padding-top: 50px; }
  .technique .technique__title::before {
    content: "";
    height: 1px;
    background-color: #41F6D7; }
  .technique .technique__title {
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    color: #7E7E82;
    margin: 0; }
    .technique .technique__title .title__text {
      margin: 16px;
      margin-left: 24px; }
  .technique .technique__main .swiper {
    padding: 16px; }
    .technique .technique__main .swiper .swiper-slide {
      width: auto; }
    .technique .technique__main .swiper .swiper-pagination {
      transform: translateY(12px); }
    .technique .technique__main .swiper .swiper-pagination-bullet {
      background-color: #7E7E82; }
  .technique .technique__main .technique__list {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 240px));
    list-style-type: none;
    column-gap: 32px;
    row-gap: 24px;
    overflow-y: auto;
    max-height: 768px;
    transition: max-height 0.5s; }
  .technique .technique__main .technique__list--short {
    overflow-y: hidden;
    max-height: 150px; }
  .technique .technique__main .block__button {
    box-sizing: border-box;
    position: relative;
    width: 240px;
    height: 160px;
    padding: 16px;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF; }
    .technique .technique__main .block__button .button__text {
      position: absolute;
      top: 16px;
      left: 16px; }
    .technique .technique__main .block__button .button__go {
      position: absolute;
      right: 16px;
      bottom: 16px; }
  .technique .technique__main .list__read-more {
    margin: 24px;
    margin-bottom: 0;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px; }
    .technique .technique__main .list__read-more .read-more__icon {
      transition: transform 300ms ease; }
    .technique .technique__main .list__read-more .read-more__icon--rotate {
      transition: transform 300ms ease;
      transform: rotate(180deg); }

.prices {
  padding-top: 50px; }
  .prices .swiper {
    padding: 16px; }
    .prices .swiper .swiper-slide {
      width: auto; }
    .prices .swiper .swiper-pagination {
      transform: translateY(12px); }
    .prices .swiper .swiper-pagination-bullet {
      background-color: #7E7E82; }
  .prices .prices__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 260px;
    height: 200px;
    background-color: #FFFFFF; }
    .prices .prices__block .block__servise {
      display: flex;
      flex-direction: column; }
      .prices .prices__block .block__servise .servise__desc {
        color: #7E7E82; }
    .prices .prices__block .block__button {
      position: absolute;
      right: 16px;
      bottom: 16px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      background-color: #FFFFFF;
      padding: 0;
      border: none; }
  .prices .prices__title::before {
    content: "";
    height: 1px;
    background-color: #41F6D7; }
  .prices .prices__title {
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    color: #7E7E82;
    margin: 0; }
    .prices .prices__title .title__text {
      margin: 16px;
      margin-left: 24px; }
  .prices .prices__list {
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 24px;
    margin-right: 24px; }
    .prices .prices__list .list__elem:first-child {
      background-color: #F8F8F8;
      color: #7E7E82;
      margin: 0; }
      .prices .prices__list .list__elem:first-child .elem__cell:first-child {
        padding-left: 24px; }
    .prices .prices__list .list__elem {
      display: grid;
      grid-template-columns: 3fr repeat(3, 1fr);
      grid-template-rows: 70px;
      border-bottom: 1px solid #EAEAEA;
      align-items: center;
      margin-left: 24px;
      margin-right: 24px; }
      .prices .prices__list .list__elem .elem__button {
        width: 119px;
        height: 32px;
        border-radius: 16px;
        background-color: #FFFFFF;
        padding: 0;
        border: none; }
  .prices .prices__info {
    margin: 24px;
    font-size: 14px;
    max-width: 421px; }
  .prices .prices__offer {
    display: block;
    margin: 24px;
    font-weight: 600; }
    .prices .prices__offer .offer__line {
      padding-left: 10px; }

.main__footer {
  padding: 24px;
  padding-top: 30px;
  display: flex;
  row-gap: 16px;
  justify-content: space-between;
  align-items: center; }
  .main__footer .footer__info {
    text-align: center;
    max-width: 330px;
    color: #7E7E82; }

.feedback {
  background-color: #FFFFFF;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 320px;
  max-width: 490px;
  height: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: right 1.5s ease;
  overflow: scroll; }
  .feedback .feedback__title {
    display: flex;
    align-items: center;
    white-space: nowrap; }
  .feedback .feedback__title:before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 1em;
    margin-right: 30px; }
  .feedback .feedback__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px 24px; }
  .feedback .feedback__form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .feedback .feedback__form .form__field {
      height: 48px;
      padding: 16px 12px;
      border: 1px solid #EAEAEA;
      border-radius: 8px; }
    .feedback .feedback__form .form__message {
      height: 118px;
      resize: none; }
    .feedback .feedback__form .info__link {
      text-decoration: none;
      color: #FF3E79; }
    .feedback .feedback__form .form__submit {
      width: 136px;
      height: 32px;
      align-self: flex-end;
      padding: 0;
      border: none;
      border-radius: 16px; }
    .feedback .feedback__form .form__field::placeholder {
      font-size: 16px;
      color: #7E7E82; }

.feedback--hidden {
  position: fixed;
  right: -150%;
  box-shadow: none; }

.call {
  background-color: #FFFFFF;
  position: fixed;
  right: 0px;
  top: 0;
  min-width: 320px;
  max-width: 490px;
  height: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: right 1.5s ease;
  overflow: scroll; }
  .call .call__title {
    display: flex;
    align-items: center;
    white-space: nowrap; }
  .call .call__title:before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 1em;
    margin-right: 30px; }
  .call .call__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px 24px; }
  .call .call__form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .call .call__form .form__field {
      height: 48px;
      padding: 16px 12px;
      border: 1px solid #EAEAEA;
      border-radius: 8px; }
    .call .call__form .form__message {
      height: 118px;
      resize: none; }
    .call .call__form .info__link {
      text-decoration: none;
      color: #FF3E79; }
    .call .call__form .form__submit {
      width: 136px;
      height: 32px;
      align-self: flex-end;
      padding: 0;
      border: none;
      border-radius: 16px; }
    .call .call__form .form__field::placeholder {
      font-size: 16px;
      color: #7E7E82; }

.call--hidden {
  position: fixed;
  right: -150%;
  box-shadow: none; }

a,
button {
  cursor: pointer; }

a:hover,
button:hover {
  opacity: 0.7; }

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
  border-radius: 5px; }

body {
  font-family: "TT Lakes";
  margin: 0;
  position: relative; }


/*# sourceMappingURL=main.css.map*/